<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258088443921-vcumc5bg3ggvq4mdtpjbl3iagu92c05d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258088443921-vcumc5bg3ggvq4mdtpjbl3iagu92c05d</string>
	<key>API_KEY</key>
	<string>AIzaSyA--9ZiGQA0qwgNbPdf7ktZ_vYzpcN85Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>258088443921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uber</string>
	<key>PROJECT_ID</key>
	<string>geetaxi-dad9c</string>
	<key>STORAGE_BUCKET</key>
	<string>geetaxi-dad9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258088443921:ios:4404b8c7db6c4894f4d1b0</string>
	<key>DATABASE_URL</key>
	<string>https://geetaxi-dad9c-default-rtdb.firebaseio.com</string>
</dict>
</plist>